header{
    width: 100%;
    height: 80px;
    background-color: rgb(236, 234, 234);
    color: black;
}

#fundoInput{
    width: 50%;
    height: 70px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding-top: 30px;
    margin-top: 30px; 
    border: 1px solid rgb(78, 78, 78);
    font-family: 'Arial';
    font-size: 17px;
    
}

.classic {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


body{
    margin: 0 0 0 0;
}

#logo{
    
    width: 95px;
    height: 35px;
    float: left;
    padding-top: 22px;
    padding-left: 25px;
}

#fvsacola{
  text-align: end;
  padding-top: 10px;
}


li {
    list-style-type: none;
    display:inline-block;
    margin-left: 27px;
    font-family: 'Arial';
    font-size: 18px;
 }

 #lista{
    float: left;
    padding-left: 400px;
    padding-top: 17px;
    
 }

 footer{
    margin-top: 290px;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.redes-sociais {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
  }

  .redes-sociais li{
    width: 100px;
  }
  

  .tamanhoDaRedesocial{
    font-size: 18px;
    margin: 0;
  }

  .tamanhoDaRedesocial{
    font-size: 18px;
    margin: 0;
    font-family: Arial;
  }


.tamanhoDaRedeS{
    width: 65px;
    height: 60px;
  }
  
  .tamanhoDaRedeInsta{
    width: 50px;
    height: 50px;
    opacity : 1.8;
    margin-bottom: 5px;
  }


.descricoes{
    line-height: 7.0px;
    text-align: center;
    color: white;
    padding-top: 6px;
    font-family: Arial;
  }

  #transparente{
    color: rgba(255, 255, 255, 0.5);
  }
  